.title{
    margin-top: 15vh;
}
.form {

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100vh;
    display: block;

}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form button{
    margin-top: 10px;
}


.fileLabel{
    font-style: italic;
    font-weight: 0.7em;
    text-align: left;
}